{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Room Booking</title>
    <link rel="stylesheet" href="{% static '/hotel/RoomPage.css' %}">
</head>

<body>
    <form action="\book">
        <div id="parent">


            <div id="room1">
                <div id="image1">
                    <img src="https://www.tajhotels.com/content/dam/luxury/hotels/taj-coromandel/images/gallery/01%20-%20Luxury%20Room.jpg/jcr:content/renditions/cq5dam.web.512.512.jpeg" alt="">
                </div>
                <div id="luxury">
                    <div id="head1">
                        <p>Luxury Room</p>
                    </div>
                    <div id="header1">
                        <p>A grand entryway ushers you into each Luxury Room, a cocoon replete with all modern amenities, contemporary furnishings in cultural hues and much more.</p>
                    </div>
                    <div id="money1">Rs. 5000</div>
                    <div id="area1">30 sq. mt.</div>
                    <div id="wifi1">Complimentary WiFi</div>
                    <div id="guest1">Up to 3 guests</div>
                    <div id="bed1">King/Twin</div>
                    <div><button type="submit" name="luxe">Book Now</button></div>
                </div>
            </div>


            <div id="room2">
                <div id="image2">
                    <img src="https://www.tajhotels.com/content/dam/luxury/hotels/taj-coromandel/images/gallery/Room1.jpg/jcr:content/renditions/cq5dam.web.512.512.jpeg" alt="">
                </div>
                <div id="clubs">
                    <div id="head2">
                        <p>Club Room</p>
                    </div>
                    <div id="header2">
                        <p>Designed for the needs of a busy business traveller, Star Club complements the hectic experience with a butler service, one-way airport transfer and more.Complimentary breakfast, tea and cocktails await you at the lounge.</p>
                    </div>
                    <div id="money2">Rs. 6000</div>
                    <div id="area2">31 sq. mt.</div>
                    <div id="wifi2">Complimentary WiFi</div>
                    <div id="guest2">Up to 3 guests</div>
                    <div id="bed2">King</div>
                    <div><button type="submit" name="club">Book Now</button></div>
                </div>
            </div>


            <div id="room3">
                <div id="image3">
                    <img src="https://www.tajhotels.com/content/dam/luxury/hotels/taj-coromandel/images/gallery/04%20-%20Junior%20Suite.jpg/jcr:content/renditions/cq5dam.web.512.512.jpeg" alt="">
                </div>
                <div id="grand">
                    <div id="head3">
                        <p>Grand Luxury Room</p>
                    </div>
                    <div id="header3">
                        <p>The Grand Luxury Rooms offer a warm and modern ambience with an interesting blend of stylish wooden flooring, large mirrors, elaborate wooden carvings and murals. A large minibar with chic desk lamps and glass-top tables completes
                            the suite.
                        </p>
                    </div>
                    <div id="money3">Rs. 7000</div>
                    <div id="area3">45 sq. mt.</div>
                    <div id="wifi3">Complimentary WiFi</div>
                    <div id="guest3">Up to 3 guests</div>
                    <div id="bed3">King</div>
                    <div><button type="submit" name="grand">Book Now</button></div>
                </div>
            </div>
    </form>
    </div>
</body>

</html>